body,
html,
#root {
    height: 100%;
}

ul {
    list-style-type: upper-roman
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-container>button {
    size: 60px;
}

.grid-container>div {
    padding-top: 5px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-top: 5px;
    text-align: center
}

#new-plot,
#delete-plot {
    padding: 5px;
    margin-top: 45px;
}

#delete-plot {
    color: red;
    margin-left: 20px;
}

.nav-brand {
    align-self: left;
}

.nav-item {
    margin: 10
}

.app {
    height: 100%
}

.dat-style {
    background-color: grey;
    height: 100%;
}

.fill {
    height: 100%;
}

.sidebar {
    padding: 0;
    height: 100%;
}

.form-group{
    margin-left: 20px;
    margin-top: 5px;
    color: whitesmoke
}

.form-group:hover{
    color: gray
}

#mainNav{
    margin: 0px
}

#mainNav > .container{
    margin-left: 0px
}

#reset{
    margin-top: 10px;
    margin-left: 20px;
}

#export{
    margin-top: 10px;
    margin-left: 10px;
}